@import "1cont";
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.con1{
    width: 1440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .logo{
        width: 170px;
        height: 20px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        left: 5%;
        P{
            font-size: 26px;
            font-weight: 900;
            font-family: 'Bodoni Moda';
            text-transform: uppercase;   
        }
    }
     .nav {
        width: 500px;
        height: 20px;
        left: 35%;
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_a{
                font-family: 'Inter';
                font-weight: 500;
                text-transform: uppercase;  
                color: #000000;
                transition: 250ms;
                &:hover{
                    color: #19b7cc;
                }
            }
            &_a1{
                ion-icon{
                    position: relative;
                    top: 2.5px;
                }
            }
        }   
     }
     .left{
        width: 250px;
        height: 30px;
        &_i{
            color: #000;
            font-size: 25px;
            margin: 0 15px 0 0;
            transition: 250ms;
            &:hover{
                color: #00d9ff;
            }
        }
     }
}

.item_hide{
    display: none;
}
.item_a2:hover{
    color: #425FD0;

}
.item_a2:hover .item_hide{
    display: inline-block;
}
.item_hide{
    width: 60px;
    height: 50px;
    background-color: red;
}